<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel ="stylesheet" href="../public/style.css">
</head>
<body>

  <!-- Brand/logo -->

    <div class="row">
        <div class="col"></div>
<div class="container my-3 col">
    <h4>Đăng nhập</h4>
    <form novalidate action="/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <!--lần đầu nếu mở trang login thì nó sẽ vào phương thức get mà phương thức get chưa có dữ liệu email nên nó sẽ ko tìm thấy email ==> báo lỗi
                thêm locals. để ám chỉ sử dụng email ở post ( giống với this)-->
            <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email" value="<%=locals.email%>">
        </div>
        <div class="form-group">
            <label for="pwd">Mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Nhập password" name="password"  value ="">
        </div>
         <!--ở đây có biến errmesss='' bên js nên ko cần locals-->
        <%if(locals.errMess){%>
            <div class="alert alert-danger"> <%=locals.errMess%></div>
            <%}%>
        <button id="login"type="submit" class="btn btn-success">Đăng nhập</button>
        <br>
        <br>
        <p>login with google account</p>
        
    </form>
</div>
    <div class="col"></div>
</div>


</body>
</html>
