
        #inputForm{
            width:500px;
        }
        #findForm{
            margin-left: 250px;
    
        }
        #userIcon{
            color:black;
            margin-left: 200px;
        }
        #cartIcon{
            color: black;
            margin-left:60px
        }
        /*#collapsibleNavbar{
            margin-left:450px;
            position: relative;
        }*/
        #shirt{
            font-size: 20px;
            font-weight: bold;
        }
        #trousers{
            font-size: 20px;
            font-weight: bold;
        }
        #menungang{
            display: inline-table;
        }
        #nav{
            position: relative;
        }
        #menuInProduct{
            width: 700px;
            position: absolute;
           left:-300px;
        }
        #login{
            margin:auto;
        }
